/*-------------------
    common styles
--------------------*/
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 1050px; 
    
} 
/*------------------
     header styles
------------------- */
.bannar{
    background-color: #2D25A0;
    height: 677px;;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bannar:hover .bannar-photo img{
    transform:scale(1.5) ;
    transition: transform 1s ease-in ;
}
.bannar-element{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 1143px;
    height: 438px;
   
}
.head-line h1{
    font-size: 4em;
    font-weight: 700;
    color: white;
    margin: 0%;
} 
.button {
    background: #E02C6D;
    margin-top: 15px;
    width: 168px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
}
.button p a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}
.button p i{
    margin: 0px 8px;
}
.button:hover{
    border: 3px solid white;
    border-radius: 15px;
    font-size:  1.5em; ;
}
.bannar-photo img{
    width: 556.01px;
    height: 438px;
}

/*--------------------------
    top players blogs styles
---------------------------- */
.top-players{
    display: flex;
    justify-content: center
}
.players{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}
.players article{
    width: 330px;
    height: 474px;
    background-color: white;
    margin: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.player .player-photo img{
    width: 300px;
    height: 256px;
}
.player-info{
    padding: 15px;
}
/*--------------------------------
     fifa partners section styles 
----------------------------------*/
.fifa-partners{
    margin-top: 50px;
}
#fifa{
    text-align: center;
}
.partners{
    display: grid;
    grid-template-rows: repeat(1fr);
    align-items: center;
    justify-content: center;
}

.partners-icon{
    margin: 20px;
}

.player-news{
    display: flex;
    align-items: center;

}
/* news styles */
.news-section{
    margin-top: 50px;
}
#fifa-news{
    text-align: center;
}
.news{
    width: 330px;
    height: 474px;
    background-color: white;
    margin: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.news-thumnail img{
    width: 300px;
    height: 256px;
}
.news-cover{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-info{
    padding: 15px;
}

/*-------------------------
     footer section styles 
---------------------------*/
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 160px;
    margin-bottom: 63px;
}
.footer-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-item img{
    width: 483.87px;
    height: 110px;
}
.social-media-icon{
    margin: 20px 0px;


}
.social-media-icon .icon{
    font-size: 20px;
    padding: 10px;
    margin: 0px 14px;
    color: #969BAB;
    background-color:black;
    border-radius: 50%;
    opacity: 0.1;
}

.copyright{
    font-size: 18px;
}

/*------------------
    media query
------------------ */

/* mobile devices */
@media only screen and (max-width:480px) {
    .container{
        width: 100%;
    }
    .bannar{
        width: 100%;
        height: 691px;
    }
    .bannar-element{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    .head-line{
        font-size: 1.5em;
        width: 329px;
    }
    .players{
        grid-template-columns: repeat(1,1fr);
    }
    .player{
        flex-direction: column;
    }

    .footer{
        width: 100%;
    }
}